@font-face {
   font-family: 'Heebo-Medium';
   font-display: swap;
   src: url('file:///C:/Users/%D7%9C%D7%99%D7%A2%D7%93%20%D7%A9%D7%9B%D7%98%D7%A8/AppData/Local/Mobirise.com/Mobirise/projects/project-2025-05-22_183053/fonts/Heebo-Medium/font.ttf');
}
